@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #5c4031;
    --secondary-color: #223f23;
    --accent1-color: #020200;
    --accent2-color: #7d8a20;

    --heading-font: 'Rubik', sans-serif;
    --paragraph-font: 'Work Sans', sans-serif;

    --nav-background-color: #223f23;
    --nav-link-color: #7d8a20;
    --nav-hover-link-color: #020200;
    --nav-hover-background-color: #5c4031;
}

header nav{
  background-color: #223f23;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-family:var(--heading-font) ;
    color: var(--primary-color);
}


p {
    color: var(--accent1-color);
    padding: 25px;
}

nav {
  display: flex;
}

nav a {
    display: flex;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a img{
  width: 50px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    text-decoration: underline;
}

.hero {
    position: relative;
  }

.hero img {
    width: 100%; 
    height: auto; 
    display: block; 
  }

.hero h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e2f556;
  }

.hero article {
    position: absolute;
    bottom: 0;
    top: 40%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
  }

  .hero article img {
    float: right;
    margin-left: 20px;
    width: 200px;
  }

  .hero article::after {
    content: "";
    display: table;
    clear: both;
  }

  .hero article p {
   font-family: var(--paragraph-font);
   color: #e2f556;
  }